.journalism__container {
  margin-top: 5rem;
  width: 100vw;
  height: calc(100vh - 5rem);
  position: relative;
  background-image: url(../assets/images/orzel.jpg);
  background-position: center -5rem;
  /* background-size: contain; */
  background-repeat: no-repeat;
}
