.navbar {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 5rem;
  background-color: #db2c1d;
  border-bottom: 2px solid gold;
}
.navbar__container {
  width: 90%;
  height: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* background-color: #fff; */
}
.logo img {
  height: 3rem;
}
.navbar__banner img {
  display: none;
}
.navbar__links {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  gap: 2rem;
}
.navbar__item {
  border-radius: 50%;
  transition: all 0.4s;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
}
@media screen and (max-width: 700px) {
  .navbar__links {
    position: absolute;

    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5rem;
    right: 0;
    padding: 2rem 0;
    transform: scale(0);
    transform: translateY(-200%);
    transform-origin: 100% 0%;
    background-color: #ff0000;
    transition: all 0.7s;
  }
  .navbar__item {
    transition: none;
    color: #fff;
    text-align: center;
  }
}
@media screen and (max-width: 430px) {
  .navbar__links {
    width: 100%;
  }
}

.show__mobileMenu {
  transform: scale(1);
  transform: translateY(0);
  transition: all 0.7s;
}

.navbar__item {
  padding: 1rem 0.5rem;
  width: 100%;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 700px) {
  .hamburger {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hamburger__btn {
  font-size: 2rem;
  color: #ffffff;
  transition: all 1s;
}
.active {
  color: gold;
}
@media screen and (max-width: 700px) {
  .navbar__banner {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 5rem;
  }
  .navbar__banner img {
    display: block;
    height: 4rem;
  }
  .logo img {
    display: none;
  }
}
