*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "PT Sans", sans-serif;
}

.title {
  margin-top: 5rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title__text {
  position: relative;
  font-size: 3rem;
  display: inline-block;
  background: linear-gradient(white 50%, red 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title__text::after {
  position: absolute;
  content: "";
  background-color: gold;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
}
.content {
  margin: 0 auto;
  width: 80%;
}
p {
  color: white;
}
